---
# tasks file for packages
# #packages.yaml
- name: Remove unwanted packages
  ansible.builtin.dnf:
    name:
      - iw*firmware
      - cockpit*
    state: absent

- name: Install essential packages
  ansible.builtin.dnf:
    name:
      - vim
      - mtr
      - git
      - curl
      - wget
      - rsync
      - smartmontools
      - unzip
      - tcpdump
      - iptraf
      - mtr
      - hdparm
      - screen
      - traceroute
      - nmap
      - htop
      - iftop
      - iotop
      - multitail
      - git 
      - logrotate
      - tree 
      - jq
      - bind-utils
      - net-tools
      - lsof
      - fail2ban
      - aide
      - gpgme
      - dnf-automatic
      - chrony
      - vnstat
  state: latest
  ignore_errors: true
