---
# tasks file for users

#  vars_files:
#  - path/to/your/variables/file.yml

- name: Create users
  user:
    name: "{{ item.username }}"
    password: "{{ item.password_hash }}"  # You should replace this with the hashed password for each user
    shell: "{{ item.shell }}"
    system: "{{ item.system }}"
    createhome: "{{ item.createhome }}"
    home: "{{ item.home }}"
    groups: "{{ item.groups }}"
    state: present
  with_items: "{{ users }}"

- name: Set up ssh keys
  ansible.posix.authorized_key:
    user: " { item.username }}" 
    key: "{{ key }}"
    state: present
    exclusive: true
  with_items: "{{ users }}"
  vars:  
    key: "{{ user_info.ssh_keys }}"
  ignore_errors: true
