---
# tasks file for users

- name: Create users
  user:
    name: "{{ item.username }}"
    password: "{{ item.password_hash }}"  # You should replace this with the hashed password for each user
    shell: "{{ item.shell }}"
    system: "{{ item.system }}"
    createhome: "{{ item.createhome }}"
    home: "{{ item.home }}"
    groups: "{{ item.groups }}"
    state: present
  with_items: "{{ users }}"

- name: show vars
  ansible.builtin.debug:
    msg: var is  "{{ item.username }}"
  with_items: "{{ users }}"
  ignore_errors: true

- name: Set up ssh keys
  ansible.posix.authorized_key:
    user: "{{ item.username | dict2items }}" 
    key: "{{ lookup('file', 'files/'+ item + '.key.pub') }}"
    state: present
    exclusive: true
  with_items: "{{ users }}"
  ignore_errors: true

- name: allow members of the wheel group to sudo certain commands without entering a password
  ansible.builtin.lineinfile:
    dest: /etc/sudoers.d/99-cnic-commands-no-pass
    state: present
    line: "{{ item }}"
    create: true
  with_items: "{{ sudo_cmds }}"
